<a href="https://colab.research.google.com/github/Martishamao/Spanish-Red-Wine-Analysis/blob/main/Project_2_Resubmit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Project 2 Resubmit
- Martisha Owens
- 10/4/2022

#DataSet 1

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##1. Souce of data
- Spanish Wine Quality Dataset
- https://www.kaggle.com/datasets/fedesoriano/spanish-wine-quality-dataset

##2. Brief description of data
- This data describes 7500 different spanish red wines.
- The features include Name of the wine, winery, year, rating, number of reviews, country, region, price, type of wine variety, body, and acidity.

##3. What is the target?
- The target is the rating of the Spanish wine.

##4. Is this a classification or regression problem?
- This is a regression problem, which will predict the rating on a continuous scale from 0 to 5 (Or for this data 4.2 to 4.9).

##5&6. How many features and rows?

In [4]:
filename = '/content/drive/MyDrive/Coding Dojo/Project 2/wines_SPA.csv'
df1 = pd.read_csv(filename)
df1.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [39]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       7500 non-null   object
 1   wine         7500 non-null   object
 2   year         7498 non-null   object
 3   rating       7500 non-null   float64
 4   num_reviews  7500 non-null   int64
 5   country      7500 non-null   object
 6   region       7500 non-null   object
 7   price        7500 non-null   float64
 8   type         6955 non-null   object
 9   body         6331 non-null   float64
 10  acidity      6331 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 644.7+ KB

In [6]:
df1c = df1.copy()

In [7]:
df1c.isna().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [31]:
df1c.duplicated().sum()

5452

In [37]:
df1c.drop_duplicates(inplace = True)
df1c.duplicated().sum()

0

In [38]:
df1c.shape

(2048, 11)

> Even after removing the duplicated data there are still 2048 instances of data and 11 columns of features.

##7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
> One potentional problem I can assume, is that the types of wines might not vary much from one another because they are all from the Spanish region.

#DataSet 2

##1. Souce of data
- Formula 1 World Championship (1950 - 2022)
- https://www.kaggle.com/datasets/rohanrao/formula-1-world-championship-1950-2020?select=results.csv

##2. Brief description of data
- The FIA Formula One World Championship results since 1950 to 2022. The dataset also consists of all information on the Formula 1 races, drivers, constructors, qualifying, circuits, lap times, and pit stops.

> Formula 1 Data Columns
- resultId
- raceId, races.csv
- driverId, drivers.csv
- constructorId, Car Constructor, constructors.csv
- number, Car Number
- grid, Position in starting grid
- position, Final position
- positionText, Final position in text
- positionOrder, Final rank
- points
- laps
- time *(Remove)*
- milliseconds *(Remove)*
- fastestLap
- rank
- fastestLapTime *(Remove)*
- fastestLapSpeed
- statusId, position status, status.csv

##3. What is the target?
- The target column will be the position column. Target question would be predicting what driver will make podium.

##4. Is this a classification or regression problem?
- The positions column is Ordinal thus this is a classification problem.

##5&6. How many features and rows?
- Removing any time series columns.
- resultId was also removed because it is redundant.

In [10]:
filename = '/content/drive/MyDrive/Coding Dojo/Project 2/results.csv'
df2 = pd.read_csv(filename)
df2.tail()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
25655,25661,1086,825,210,20,13,16,16,16,0.0,69,\N,\N,37,15,1:23.511,188.856,11
25656,25662,1086,848,3,23,17,17,17,17,0.0,69,\N,\N,43,12,1:23.047,189.911,11
25657,25663,1086,849,3,6,19,18,18,18,0.0,69,\N,\N,60,8,1:22.478,191.221,11
25658,25664,1086,852,213,22,16,19,19,19,0.0,68,\N,\N,58,16,1:23.538,188.795,12
25659,25665,1086,822,51,77,8,20,20,20,0.0,65,\N,\N,60,19,1:24.002,187.752,131

In [11]:
df2c = df2.drop(columns = ['resultId','time','milliseconds','fastestLapTime'])
df2c.tail(10)

,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,fastestLap,rank,fastestLapSpeed,statusId
25650,1086,840,117,18,14,11,11,11,0.0,69,51,7,191.317,11
25651,1086,842,213,10,0,12,12,12,0.0,69,58,14,189.564,11
25652,1086,855,51,24,12,13,13,13,0.0,69,58,5,192.268,11
25653,1086,854,210,47,15,14,14,14,0.0,69,50,13,189.674,11
25654,1086,817,1,3,9,15,15,15,0.0,69,63,17,188.533,11
25655,1086,825,210,20,13,16,16,16,0.0,69,37,15,188.856,11
25656,1086,848,3,23,17,17,17,17,0.0,69,43,12,189.911,11
25657,1086,849,3,6,19,18,18,18,0.0,69,60,8,191.221,11
25658,1086,852,213,22,16,19,19,19,0.0,68,58,16,188.795,12
25659,1086,822,51,77,8,20,20,20,0.0,65,60,19,187.752,131

In [12]:
df2c.isna().sum()

raceId             0
driverId           0
constructorId      0
number             0
grid               0
position           0
positionText       0
positionOrder      0
points             0
laps               0
fastestLap         0
rank               0
fastestLapSpeed    0
statusId           0
dtype: int64

In [13]:
df2c.duplicated().sum()

0

>No missing or duplicated data.

In [14]:
df2c.shape

(25660, 14)

> There are 14 columns and 25,600 rows of data.

##7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?
> From a first glance, this dataset contains the id number and requires a different dataset to reference. This can also be resolved with a OneHotEncoder.

#Other
- New York City Airbnb Open Data, https://www.kaggle.com/datasets/dgomonov/new-york-city-airbnb-open-data